*{ 
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html,body{

    background-color: #ffebcd;

}

header{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dac8ad;
    
    
}

img#hero{

    width: 180px;
    border-radius: 20%;
    margin: 10px 0px 10px 0px;
    border: 7px solid #ffebcd;

}

#nome{

    color: brown;
    font-family: 'Silkscreen', cursive;

}
nav{
    background-color: #dac8ad;
    border-top: 7px solid #ffebcd;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-decoration: none;
    color: brown;
    width: 100%;
}

li a:hover{

    color: yellowgreen;
    background-color: #ffebcd;

}

main{

    background-color: #dac8ad;
    margin-top: 10px;
    align-items: center;
}

iframe{
    
    background-color: #dac8ad;
    height: 300px;
    border-radius: 5%;
    margin: 10px 0px 10px 0px;
    border: 7px solid #ffebcd;

}

h2{
    color: brown;
    font-family: 'Silkscreen', cursive;

}
p{
    color: brown;
    font-family: 'Silkscreen', cursive;
    text-decoration: none;
}
p a{

    color: brown;
    font-family: 'Silkscreen', cursive;
    text-decoration: none;

}

p :hover{
    color: yellowgreen;
    background-color: #ffebcd;
    
}

footer{

    background-color: #dac8ad;
    margin-top: 10px;
    align-items: center;
}

h6{
    font-family: 'Silkscreen', cursive;
    align-items: center;
    color: brown;
}