:root {
    --primario: var(color #394ea8) --secundario:var(color #031254)
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* 
#031254 azul back ground
#394ea8 azul quase background


*/

html,
body {
    background-color: white;
}

audio {
    text-decoration: none;
    justify-content: center;
    display: center;
    margin: 0px;
    width: 100%;
    height: 0px;
    background-color: #dac8ad;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #394ea8;
    border-top: 30px solid #031254;
    border-bottom: 10px solid #031254;

}

img#hero {
    width: 100px;
    border-radius: 50%;
    margin: 10px 30px 10px 0px;
    border: 2px solid #031254;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

img#hero:hover {
    width: 300px;

}

#nome {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
}

#name {
    color: white;
    font-family: 'EB Garamond', serif;
}

#nav {
    height: 50px;
    background-color: #394ea8;
    /* border-top: 7px solid #ffebcd; */
    justify-content: center;
    align-items: center;
    display: flex;
    position: sticky;
    margin-bottom: 0px;
}


#nav ul {
    transition: width 3s;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 0 0;

}

#nav ul li {
    margin: 0 0 0 0;
    padding: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}



#nav ul li a {
    width: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    /* text-decoration: none; */
    color: white;
    height: 100%;
    text-align: center;
    transition: 0.5s;
    transition-timing-function: ease-in-out;


}

#nav ul li a:hover {
    color: black;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    border-radius: 20px;
        

}


#main {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
   

}

#direita {
    border-top: 10px solid#031254;
    height: auto;
    width: 25%;
    background-color: #394ea8;
    align-items: center;
    text-align: center;

}
#direita h2{
    margin-top: 20px;
    color: white;
}
#esquerda {
    height: 100%;
    width: 75%;
    background-color: white;
    border-top: 10px solid white;

}

#Habilidades {
    margin-left: 50px;
    text-align: left;
    color: black;
    font-family: 'EB Garamond', serif;
}

#Habilidades_li ul li {

    margin-left: 50px;
    text-align: left;
    color: grey;
    font-family: 'EB Garamond', serif;
    list-style: circle inside;

}

#Experiencia_profissional {

    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    color: black;
    font-family: 'EB Garamond', serif;

}

#Experiencia_profissional h3 {
    margin-top: 40px;
    color: black;
}

#Experiencia_profissional h6 {
    color: grey;
}

#Experiencia_profissional ul {
    color: grey;
    margin-top: 10px;
    list-style: circle inside;

}




#footer {
    position: fixed;
    text-align: center;
    background-color: #394ea8;
    width: 100%;
    bottom: 0px;
    align-items: center;
    border-top: 10px solid #031254;
}

#footer h6 {
    font-family: 'EB Garamond', serif;
    align-items: center;
    color: white;
}