*{ 
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html,body{
    background-color: #ffebcd;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dac8ad;
}

img#hero{
    width: 180px;
    border-radius: 20%;
    margin: 10px 0px 10px 0px;
    border: 7px solid #ffebcd;
}

#nome{
    color: brown;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
}

nav{
    background-color: #dac8ad;
    border-top: 7px solid #ffebcd;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

ul{
    height: 100px;
    justify-content: space-evenly;  
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;

}

ul li{
    margin: 0 0 0 0;
    padding: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


li a{
    width: 100%;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-decoration: none;
    color: brown;
    height: 100%;
   
    
}

li a:hover{
    color: yellowgreen;
    background-color: #ffebcd;
    
}

main{
    background-color: #dac8ad;
    margin-top: 10px;
    align-items: center;
}

iframe{
    background-color: #dac8ad;
    height: 300px;
    border-radius: 5%;
    margin: 10px 0px 10px 0px;
    border: 7px solid #ffebcd;
}

h2{
    color: brown;
    font-family: 'EB Garamond', serif;
}


#sobre_mim{
    margin-left: 20px;
    text-align: left;
    color: brown;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}
#sobre_mim a{
    color: brown;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}
#sobre_mim a:hover{
    color: yellowgreen;
    background-color: #ffebcd;
}
/* p{
    color: brown;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

p a{
    color: brown;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

p :hover{
    color: yellowgreen;
    background-color: #ffebcd;
}
 */
footer{
    position: fixed;
    text-align: center;
    background-color: #dac8ad;
    width: 100%;
    bottom: 0px;
    margin-top: 10px;
    align-items: center;
}

h6{
    font-family: 'EB Garamond', serif;
    align-items: center;
    color: brown;
}